@font-face {
    font-family: "MyFont";
    src: url("../assets/font.otf") format('opentype');
}

:root {
    --color-base: white;
    --color-highlight: orange;
    --color-background: #121f30;
}

body {
   background-image: url("../assets/background.jpg");
   width: 100vw;
   height: 100vh;
   background-position: center;
   box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
   font-family: "MyFont";
   color: var(--color-base);
}

.home-page,
.menu-page,
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home-tagline,
.menu-tagline,
.contact-tagline {
    font-style: italic;
    font-size: 2rem;
}

.menu-title,
.contact-title {
    font-size: 2.5rem;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    color: var(--color-highlight);
}

/* Header */

header {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#logo {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--color-highlight);
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav button {
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: var(--color-base);
    cursor: pointer;
}

nav button:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--color-highlight);
}

.selected {
    color: var(--color-highlight);
}

/* Buttons */

.buttons-div {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.buttons-div button {
    color: var(--color-base);
    background-color: transparent;
    border: 3px solid var(--color-base);
    padding: 10px;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}

.buttons-div button:hover {
    border: 3px solid var(--color-highlight);
    color: var(--color-highlight);
    background-color: var(--color-background);
}

/* Home */

.home-img {
    width: 600px;
    height: 440px;
    border: 3px solid var(--color-highlight);
    border-radius: 16px;
}

/* Menu */

.menu {
    width: 600px;
    height: 440px;
    border: 3px solid var(--color-highlight);
    border-radius: 16px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.menu-title,
.item-name,
.item-price {
    color: var(--color-highlight);
}

.item-name,
.item-price {
    font-size: 1.5rem;
}

.item-desc {
    font-size: 1.2rem;
}

/* Contact */

.contact {
    width: 600px;
    height: 440px;
    background-color: var(--color-background);
    border: 3px solid var(--color-highlight);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-method {
    color: var(--color-highlight);
    font-size: 1.2rem;
}

.contact-data {
    font-size: 1.1rem;
}

.location-img {
    width: 350px;
}

